@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "DM Sans", Arial, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: block;
}

.header {
  display: block;
  background-color: hsl(10, 79%, 65%);
  border-radius: 15px;
  padding: 20px;
}

.header h1 {
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-align: left;
  padding: 0;
  margin: 0;
}

.header p {
  font-size: 18px large;
  font-weight: 700;
  color: white;
  text-align: left;
  padding: 0;
  margin: 0;
}

.table {
  display: block;
  background-color: white;
  border-radius: 15px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 10px;
}

.table h2 {
  font-size: 18px small;
  font-weight: 700;
  color: hsl(25, 47%, 15%);
  text-align: left;
  padding: 0;
  margin: 0;
}

.table h3 {
  font-size: 18px;
  font-weight: 400;
  color: black;
  text-align: left;
  padding-top: 20px;
  margin: 0;
}

.table h4 {
  font-size: 18px;
  font-weight: 700;
  color: black;
  text-align: left;
  margin: 0;
  padding: 0;
  }

.table p {
  font-size: 18px;
  font-size: 700;
  color: hsl(28, 10%, 53%);
  text-align: right;
  padding: 0;
  margin: 0;
}

.table h5 {
    font-size: 18px;
    font-weight: 400;
    color: hsl(28, 10%, 53%);
    text-align: right;
    padding: 0;
    margin: 0;
  }

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .header {
    padding: 15px;
  }

  .table {
    padding: 15px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0.5rem;
  }

  .header {
    padding: 10px;
  }

  .table {
    padding: 10px;
  }
}
