@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: hsl(33, 100%, 98%);
}

.container {
    display: block;
    border: none;
    align-items: center;
  }

.header {
    display: flexbox;
    background-color: hsl(10, 79%, 65%);
    border-radius: 15px;
    align-content: space-between;
}

h2 {
    font-size: 18px;
}

.table {
    display: block;
    background-color: white;
    border-radius: 15px;
    align-items: space-between;
    align-items: center;
    padding: 20px;
  }


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
