@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
    background-color: hsl(33, 100%, 98%)
}

.container {
    display: block;
    border: none;
    align-items: center;
  }

.header {
    display: block;
    background-color: hsl(10, 79%, 65%);
    border-radius: 15px;
    align-items: space-between;
    padding: 20px;
    margin-bottom: 10px;
}

.header > h2 {
    font-size: 18px small;
    color: white;
    text-align: left;
}

.header > h1 {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: left;
}

.table {
    display: block;
    background-color: white;
    border-radius: 15px;
    align-items: center;
    align-content: space-between;
    padding: 20px;
    margin-bottom: 10px;
  }

.table > thead {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-align: left;
}

tr {
    display:inline-table;
    font-size: 18px;
}

.table > h3 {
    font-size: 18px small;
    color: black;
    text-align: left;
    padding-top: 40px;
}

.table > h1 {
    font-size: 18px large;
    font-weight: bold;
    color: black;
    text-align: left;
}

.table h4 {
    font-size: 18px small;
    color: black;
    text-align: right;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
